.skils {
    margin-top: 4rem;
}
.swiper {
    background-color: var(--body-bg-color);
    margin-top: 5rem;
    width: 100%;
    height: 50rem;
    border-radius: 20%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eeeeee;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .banner {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 4rem;
}

.banner .banner-img1 {
    width: 30%;
}

.banner .banner-img2 {
    width: 35%;
}

.banner .banner-img3 {
    width: 35%;
    padding: 10rem;
}

.banner-p {
    width: 40%;
    font-size: 4rem;
}
