@import "./css/normalize";
@import "./css/grid";
@import "./css/header";
@import "./css/about_me";
@import "./css/skils";
@import "./css/swiper/css";
@import "./css/swiper/css/navigation";
@import "./css/swiper/css/pagination";
@import "./css/swiper/css/bundle";
@import "./css/my_work";
@import "./css/tab";
@import "./css/footer";

html {
  font-size: 62.5%;
  user-select: none;
}

body {
  background: var(--body-bg-color);
}
