@import "../../normalize";
@import "../../grid";
@import "../../header";
@import "../../about_me";
@import "../../skils";
@import "../../css";
@import "../../css/navigation";
@import "../../css/pagination";
@import "../../css/bundle";
@import "../../my_work";
@import "../../tab";
@import "../../footer";

html {
  font-size: 62.5%;
  user-select: none;
}

body {
  background: var(--body-bg-color);
}
