.about_me {
  color: var(--nav-border-botom);
}

.my_photo {
  width: 20%;
  border-radius: 50%;
}

h1 {
  display: block;
  font-size: 4rem;
  text-align: center;
  color: var(--about-title-color);
  font-weight: 500;
}

.subtitle {
  position: relative;
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  color: var(--about-title-color);
  font-weight: 500;
}

.subtitle::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 1.5rem var(--before-title-color);
  z-index: -1;
  top: 0.3rem;
  left: 64.4rem;
}

.about_me-item {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  align-items: start;
  gap: 2rem;
  margin-bottom: 4rem;
}

.about_me-text {
  padding-left: 4rem;
  font-weight: 300;
  word-wrap: break-word;
}

@media screen and (max-width: 1399px) {
  .subtitle::before {
    top: 0.2rem;
    left: 55.2rem;
  }

  .subtitle {
    margin-bottom: 2rem;
  }

  .about_me-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1199px) {
  .about_me-text {
    font-size: 1.6rem;
  }

  .subtitle::before {
    left: 46.2rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 991px) {
  .subtitle::before {
    left: 34rem;
  }

  .my_photo {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .subtitle::before {
    left: 25rem;
  }

  .about_me-text {
    font-size: 1.4rem;
    padding: 0;
    padding-right: 1rem;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 575px) {
  .subtitle::before {
    left: 25.8rem;
  }
}

@media screen and (max-width: 500px) {
  .subtitle::before {
    left: 22.8rem;
  }
}

@media screen and (max-width: 480px) {
  .subtitle::before {
    left: 22rem;
  }

  .about_me-text {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.4rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  .about_me-item {
    gap: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .subtitle::before {
    left: 20rem;
  }
}

@media screen and (max-width: 400px) {
  .subtitle::before {
    left: 18rem;
  }
}

@media screen and (max-width: 380px) {
  .subtitle::before {
    left: 17rem;
  }
}

@media screen and (max-width: 360px) {
  .subtitle::before {
    left: 16rem;
  }
}
