.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: 32rem;
  gap: 0.3rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.work-img {
  object-fit: cover;
}

.burger {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
