@import 'normalize.css';
@import 'grid.css';
@import 'header.css';
@import 'about_me.css';
@import 'skils.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/bundle';
@import 'my_work.css';
@import 'tab.css';
@import 'footer.css';

html {
  font-size: 62.5%;
  user-select: none;
}

body {
  background: var(--body-bg-color);
}

section {
  opacity: 0;
  animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
